nav li {
  list-style: none;
  display: flex;
  color: white;
}
nav li a {
  color: white;
  background-color: #df645f;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}
header nav ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
header nav li:first-child {
  margin-right: auto;
}
header,
body {
  background-color: #db524d;
}

header nav li:last-child {
  margin-right: 2rem;
}
.base-timer {
  font-size: 100px;
  text-align: center;
  color: white;
}
.part2 {
  background-color: white;
}
main {
  margin: 50px;
}
.part1 {
  background-color: #df645f;
  border-radius: 5px;
}
.part1 > ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.part1 li a {
  color: white;
  text-decoration: none;
}

.part1- {
  padding: 50px;
}
#color2 {
  color: #df645f;
}
.part2 {
  font-family: "Rubik", sans-serif;
}
@media only screen and (min-width: 100px) {
  body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column: 2/3;
    background-color: white;
  }
  header,
  main {
    grid-column: 2/3;
  }
  nav li {
    list-style: none;
    display: flex;
    color: white;
  }
  nav li a {
    color: white;
    background-color: #df645f;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
  }
  header nav ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  header nav li:first-child {
    margin-right: auto;
  }
}
h3.start-but {
  text-align: center;
}
